# Ignore node_modules directory
node_modules/

# Ignore build output
ios
android
vendor

# Ignore log files
*.log
*.lock

# Ignore environment-specific files
.env
.env.local
.env.production

# Ignore specific files or directories
screenshots/
secret_file.txt
Gemfile
babel.config.js

# Ignore json files
app.json
package.json
tsconfig.json
settings.json