<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AwesomeProject</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
		<string>We need access to your photo library to select images.</string>
	<key>NSCameraUsageDescription</key>
		<string>We need access to your camera to take pictures.</string>

	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
	    <string>AntDesign.ttf</string>
		<string>Anton-Regular.ttf</string>
		<string>DancingScript-Bold.ttf</string>
		<string>DancingScript-Medium.ttf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>DancingScript-SemiBold.ttf</string>
		<string>DancingScript-VariableFont_wght.ttf</string>
		<string>IslandMoments-Regular.ttf</string>
		<string>Karla-Bold.ttf</string>
		<string>Karla-BoldItalic.ttf</string>
		<string>Karla-ExtraBold.ttf</string>
		<string>Karla-ExtraBoldItalic.ttf</string>
		<string>Karla-ExtraLight.ttf</string>
		<string>Karla-ExtraLightItalic.ttf</string>
		<string>Karla-Italic-VariableFont_wght.ttf</string>
		<string>Karla-Italic.ttf</string>
		<string>Karla-Light.ttf</string>
		<string>Karla-LightItalic.ttf</string>
		<string>Karla-Medium.ttf</string>
		<string>Karla-MediumItalic.ttf</string>
		<string>Karla-Regular.ttf</string>
		<string>Karla-SemiBold.ttf</string>
		<string>Karla-SemiBoldItalic.ttf</string>
		<string>Karla-VariableFont_wght.ttf</string>
		<string>Licorice-Regular.ttf</string>
		<string>MoonDance-Regular.ttf</string>
		<string>NunitoSans-Black.ttf</string>
		<string>NunitoSans-BlackItalic.ttf</string>
		<string>NunitoSans-Bold.ttf</string>
		<string>NunitoSans-BoldItalic.ttf</string>
		<string>NunitoSans-ExtraBold.ttf</string>
		<string>NunitoSans-ExtraBoldItalic.ttf</string>
		<string>NunitoSans-ExtraLight.ttf</string>
		<string>NunitoSans-ExtraLightItalic.ttf</string>
		<string>NunitoSans-Italic.ttf</string>
		<string>NunitoSans-Light.ttf</string>
		<string>NunitoSans-LightItalic.ttf</string>
		<string>NunitoSans-Regular.ttf</string>
		<string>NunitoSans-SemiBold.ttf</string>
		<string>NunitoSans-SemiBoldItalic.ttf</string>
		<string>Pacifico-Regular.ttf</string>
		<string>PlayfairDisplay-Black.ttf</string>
		<string>PlayfairDisplay-BlackItalic.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-BoldItalic.ttf</string>
		<string>PlayfairDisplay-ExtraBold.ttf</string>
		<string>PlayfairDisplay-ExtraBoldItalic.ttf</string>
		<string>PlayfairDisplay-Italic-VariableFont_wght.ttf</string>
		<string>PlayfairDisplay-Italic.ttf</string>
		<string>PlayfairDisplay-Medium.ttf</string>
		<string>PlayfairDisplay-MediumItalic.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
		<string>PlayfairDisplay-SemiBoldItalic.ttf</string>
		<string>PlayfairDisplay-VariableFont_wght.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>Pushster-Regular.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Rock3D-Regular.ttf</string>
		<string>Shizuru-Regular.ttf</string>
		<string>SourceCodePro-Black.ttf</string>
		<string>SourceCodePro-BlackItalic.ttf</string>
		<string>SourceCodePro-Bold.ttf</string>
		<string>SourceCodePro-BoldItalic.ttf</string>
		<string>SourceCodePro-ExtraBold.ttf</string>
		<string>SourceCodePro-ExtraBoldItalic.ttf</string>
		<string>SourceCodePro-ExtraLight.ttf</string>
		<string>SourceCodePro-ExtraLightItalic.ttf</string>
		<string>SourceCodePro-Italic-VariableFont_wght.ttf</string>
		<string>SourceCodePro-Italic.ttf</string>
		<string>SourceCodePro-Light.ttf</string>
		<string>SourceCodePro-LightItalic.ttf</string>
		<string>SourceCodePro-Medium.ttf</string>
		<string>SourceCodePro-MediumItalic.ttf</string>
		<string>SourceCodePro-Regular.ttf</string>
		<string>SourceCodePro-SemiBold.ttf</string>
		<string>SourceCodePro-SemiBoldItalic.ttf</string>
		<string>SourceCodePro-VariableFont_wght.ttf</string>
		<string>SplineSans-Bold.ttf</string>
		<string>SplineSans-Light.ttf</string>
		<string>SplineSans-Medium.ttf</string>
		<string>SplineSans-Regular.ttf</string>
		<string>SplineSans-SemiBold.ttf</string>
		<string>SplineSans-VariableFont_wght.ttf</string>
		<string>Teko-Bold.ttf</string>
		<string>Teko-Light.ttf</string>
		<string>Teko-Medium.ttf</string>
		<string>Teko-Regular.ttf</string>
		<string>Teko-SemiBold.ttf</string>
		<string>TheNautigal-Bold.ttf</string>
		<string>TheNautigal-Regular.ttf</string>
		<string>Waterfall-Regular.ttf</string>
		<string>YujiHentaiganaAkari-Regular.ttf</string>
	</array>
</dict>
</plist>
